In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd
titanic_data= pd.read_csv("/content/drive/My Drive/Datasets/titanic_dataset.csv")

In [10]:
# Find total number of passengers with age less than 30
passengers_age_less_than_30 = titanic_data[titanic_data['Age'] < 30]
total_passengers_age_less_than_30 = passengers_age_less_than_30.shape[0]
print("Total number of passengers with age less than 30:",total_passengers_age_less_than_30)

Total number of passengers with age less than 30: 384

In [11]:
# Find total fare paid by passengers of first class
first_class_passengers = titanic_data[titanic_data['Pclass'] == 1]
total_fare_first_class = first_class_passengers['Fare'].sum()
print("Total fare paid by passengers of first class:", total_fare_first_class)

Total fare paid by passengers of first class: 18177.4125

In [12]:
# Compare number of survivors of each passenger class
survivors_by_class = titanic_data.groupby('Pclass')['Survived'].sum()
print("Number of survivors by passenger class:")
print(survivors_by_class)

Number of survivors by passenger class:
Pclass
1    136
2     87
3    119
Name: Survived, dtype: int64